.status {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #FD5157;
}

.online {
  background-color: #51AD55;
}

.avatar {
  width: 48px;
}

.name {
  width: 50px;
  font-size: 16px;
  font-weight: 600;
}